<div class="container">
    <div class="content">
        <div class="content_rgt">
            <div class="register_sec">
                <h1>Forgot Password</h1>
                <div class="clearfix"></div>
                <div ng-show="error" class="alert alert-danger">{{error}}</div>

                <form name="forgetForm" ng-submit="forgetPassword()" novalidate>
                    <ul>
                        <li>
                            <span>Enter E-mail ID</span>
                            <input type="email" name="userEmail" placeholder="User@gmail.com" data-ng-model="formdata.userEmail" class="form-control" required>
                            <p ng-show="forgetForm.userEmail.$invalid && !forgetForm.userEmail.$pristine" class="help-block">A valid user email is required.</p>
                        </li>
                        <li>
                            <input type="submit" value="Submit">
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="content_lft">
            <h1>Welcome from PPL!</h1>
            <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
            <img src="App/Content/images/img_9.png" alt="" />
        </div>
    </div>

    <ppl-forget-pass-pop-up></ppl-forget-pass-pop-up>

</div>
<div class="clear"></div>
